::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
                background: linear-gradient(#fa0200, #000df9);
    border-radius: 15px;
    border:solid black 0.5px;
}
body{
    background-color: #d7a0f1;
}
.fondomenu{
    background-color: #7c14f1;
}

.margenes-menú{

    color: black;
}

.margenes-menú:hover{
    margin-left: 30px;
    margin-right: 50px;
    background-color: #a08baf;
    transition:margin-right 0.8s, margin-left 0.8s, background-color 1s;
    transition-delay:0.2s;
    transition-timing-function: ease-in-out;
}

.contenedor-fondo{
    background: linear-gradient(#7c14f1, #d7a0f1);
;
}

.Tema ul {
    list-style:none;
    margin:0;
    padding:0;
}


.Tema ul p {
    display:block;
    color:black;
    text-decoration:none;
    margin:0;
    font-size:15px;
    padding:10px;

}

.Tema ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;

}

.fondo-menu:hover {
    position: relative;
    top: 1px;
    left: 2px;
    background-color: #f192e5;
    transition: background-color 1s;
}

.Tema ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    padding:0;
}

.Tema ul ul li {
    width:100em;}



.Tema ul li:hover > ul {
    display:block;


}

.margin-izq{
    position: relative;
    right: 102.5px;
}

.margin-izq2{
    position: relative;
    right :95px;
}

span{
    font-weight: bold;
}

.margin{
    padding-left: 1em;
}



.margin-izq3{
    position: relative;
    right: 185px;
}


.margin-izq4{
    position: relative;
    right: 440px;
}



.margin-izq5{
    position: relative;
    right: 490px;

}

nav ul li ul li p:hover{
    background-color: #c25cff;
    transition: background-color 1s;
}

.margin-izq6{
    position: relative;
    right: 510px;
}

.margin-izq7{
    position: relative;
    right: 650px;
}